/* Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

/* General */
body {
	box-sizing: border-box;
  font-family: Cabin;
  color: #333;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  color: #fff;
  text-shadow: 0.3vmax 0.3vmax 1vmax black;
}

h1 {font-size: 6vmax;}
h2 {font-size: 5vmax;}
h3 {font-size: 4vmax;}

p {
  font-size: 3vmax;
}

p .meta {
	color: #333;
	font-style: italic;
	font-size: 2vmax;
}

/* Content */

#content {
  float: left;
  width: 80%;
  display: block;
  background-color: #ffc405;
}

.container {
  margin: 0 auto;
}

/* Header */

#header {
  float: right;
  width: 20%;
  height: 100%;
  display: inline-block;
  position: fixed;
  text-align: center;
  background-color: #4169e1;
}

#header-author {
  height: 80%;
  width: 80%;
  display: block;
  margin: 40px auto;
	padding: 0;
  border-radius: 180px;
	border: 0.5vmax solid #333;
}

#header-author:hover {
	border: 0.5vmax solid #ffc405;
}

#header a {
  text-decoration: none;
  color: #fff;
}
#header a:hover {
  color: #ffc405;
}

#header a:active {
  color: #333;
}

#header-nav {
}

#header-nav a {
  font-size: 3vmax;
}

#header-title {
  font-size: 6vmax;
}

/* Posts */

#posts {
}

.post-container {
  padding: 2vmax 2vmax 4vmax 2vmax;
	clear: right; /* this clears the float: right in the .featured-image selector */
}

.post-container:nth-child(even) {
	background-color: #FFCF36;
	color: #222;
}

.post-container a {
	text-decoration: none;
	color: #fff;
}

.post-container a:hover {
	color: #4169e1;
}

.featured-image {
	width: 87.5%;
	border: 0.5vmax solid white;
	margin: 2vmax;
}

a:hover .featured-image {
	border: 0.5vmax solid #4169e1;
}

/* Footer */

#about-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

#footer-author {
  height: 20%;
  width: 20%;
  border-radius: 180px;
	border: 0.5vw solid #ffc405;
}

#about-footer .container {
  padding: 30px;
}

/* @media */

@media (min-width: 992px) {
	h1 {font-size: 3vmax;}
	h2 {font-size: 2.5vmax;}
	h3 {font-size: 2vmax;}

	p {
  	font-size: 1.5vmax;
	}

	p .meta {
		font-size: 0.75vmax;
	}
	
	#header-nav a {
		font-size: 3vmax;
	}

	#header-title {
		font-size: 5vmax;
	}
	
	.featured-image {
		width: 50%;
		float: right;
		margin: 0 0 2vmax 2vmax;
	}
	
}
