/* Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

/* General */
body {
  font-family: Cabin;
  color: #333;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  color: #fff;
  text-shadow: 0.3vw 0.3vw 1vw black;
}

h1 {font-size: 6vw;}
h2 {font-size: 5vw;}
h3 {font-size: 4vw;}

p {
  font-size: 3vw;
}

/* Content */

#content {
  float: left;
  width: 70%;
  display: block;
  background-color: #ffc405;
}

.container {
  margin: 0 auto;
}

/* Header */

#header {
  float: right;
  width: 30%;
  height: 100%;
  display: inline-block;
  position: fixed;
  text-align: center;
  background-color: #4169e1;
}

#header-author {
  height: 12vw;
  width: 12vw;
  display: block;
  margin: 40px auto;
	padding: 0;
  border-radius: 180px;
	border: 0.5vw solid #333;
}

#header-author:hover {
	border: 0.5vw solid #ffc405;
}

#header a {
  text-decoration: none;
  color: #fff;
}
#header a:hover {
  color: #ffc405;
}

#header a:active {
  color: #333;
}

#header-nav {
}

#header-nav a {
  font-size: 5vw;
}

#header-title {
  font-size: 8vw;
}

/* Posts */

#posts {
}

.post-container {
  padding: 20px 20px 50px 20px;
}

.post-container:nth-child(even) {
	background-color: #FFCF36;
	color: #222;
}

/* Footer */

#about-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

#footer-author {
  height: 7rem;
  width: 7rem;
  border-radius: 180px;
}

#about-footer .container {
  padding: 30px;
}