@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

/* general */
body {
	color: #555;
	margin: 0;
	font-family: "Cabin", sans-serif;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

h1, h2, h3, h4 {
	color: #333
}

p {
	line-height: 1.5;
}

a {
	color: #1abc9c;
	text-decoration: none;
}

a:hover {
	color: #f6a623;	
}

/* header */
#header {
	background-color: #1abc9c;
	height: 150px;
	line-height: 150px;
}

#header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#header a:hover {
	color: #222;
}

#header-title {
	display: block;
	float: left;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
}

#header-nav {
	display: block;
	float: right;
	margin-top: 0;
	padding-right: 20px;
}

#header-nav li {
	display: inline;
	padding-left: 20px;
}

/* content */

.post, .about {
	max-width: 800px;
	margin: 0 auto;
	padding: 60px 0;
}

.about {
	text-align: center;
}

.post-container:nth-child(even) {
	background-color: #f2f2f2;
}

.post-author img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	border: 2px solid #1abc9c;
	border-radius: 50%;
}

.about-author img {
	width: 250px;
	height: 250px;
	border: 2px solid #1abc9c;
	border-radius: 50%;
}

.post-author span {
	margin-left: 16px;
}

.post-date {
	color: #d2d2d2;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

/* footer */

#footer {
	background-color: #2f2f2f;
	padding: 50px 0;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#footer p {
	color: white;
}

.column {
	min-width: 300px;
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
}