@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

/* general */

body {
	box-sizing: border-box;
	font-family: "Cabin", sans-serif;
	color: white;
	background-color: #09101A;
	margin: 0 auto;
}

.container {
	min-width: 70%;
	max-width: 90%;
	margin: 0 auto;
}


/* header */
#header {
	background-image: url("/images/CD%20header%20pink.GIF");
	background-size: cover;
	height: 30vmax;
}

#header-title {
	width: 100%;
	float: left;
	font-size: 5vmax;
}

#header-title a {
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px #09101A;
}

#header-desc {
	color: white;
	width: 40%;
	float: right;
	font-size: 3vmax;
}

/* navbar */

/* content */

/* footer */